<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<div class="container">
    
    <ul class="tabs">
        <li class="tab"><a class="active" href="#light_1">Light Strip</a></li>
        <li class="tab"><a href="#light_2">Bulb 1</a></li>
        <li class="tab"><a href="#light_3">Bulb 2</a></li>
    </ul>
    <div class="form-ns" style="margin-top: 40px;">
        <div id="light_1">
            <%= render "lights_form" %>
        </div>
        <div id="light_2">
            <%= render "lights_form" %>
        </div>
        <div id="light_3">
            <%= render "lights_form" %>
        </div>
    </div>

</div>

<script>
    $(document).on('turbolinks:load', function() {
        $('.tabs').tabs({
            // swipeable: true
        });
        $("button[id^='time_']").on("click", function() {
            var timer_id = $(this).attr("id")
           handleTimeSelection(timer_id); 
        });
    });
    
    function handleTimeSelection(id) {
        $(".form-ns__btn").removeClass("active");
        $("#"+id).addClass("active");
    }
</script>