<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<div class="container">
    
    <ul class="tabs">
        <li class="tab"><a class="active" href="#light_1">Light Strip</a></li>
        <li class="tab"><a href="#light_2">Bulb 1</a></li>
        <li class="tab"><a href="#light_3">Bulb 2</a></li>
    </ul>
    <div class="form-ns" style="margin-top: 40px;">
        <div id="light_1">
            <%= render "lights_form" %>
        </div>
        <div id="light_2">
            <%= render "lights_form" %>
        </div>
        <div id="light_3">
            <%= render "lights_form" %>
        </div>
    </div>

</div>

<script>
    $(document).on('turbolinks:load', function() {
        $csrfToken = $("meta[name='csrf-token']").attr("content");
        $('.tabs').tabs({
            // swipeable: true
        });
        $("button[id^='time_']").on("click", function() {
            var timer_id = $(this).attr("id")
           handleTimeSelection(timer_id); 
        });
        $("body").on("click", ".form-ns__checkbox", function(e) {
            console.log($(this).prop('checked'));
            if (!$(this).prop("checked")) {
                switchOffLights();
            } else {
                switchOnLights();
            }
            // $(this).prop('checked', !$(this).prop('checked'));
        })
        
        $("body").on("change", "#colour_range", function() {
            console.log($(this).val())
            var val = $(this).val();
            var convertedVal = convertHue(val);
            $("#llight_hue").val(convertedVal)
            handleColorChange(val);
        })
        
        $("body").on("change", "#bri_range", function() {
            console.log($(this).val())
            var val = $(this).val();
            var convertedVal = convertBri(val);
            $("#llight_bri").val(convertedVal)
            handleBriChange(val);
        })
    });
    
    function convertHue(val) {
         return Math.round((65535/100)*val)
    }
    
    function convertBri(val) {
         return Math.round((254/100)*val)
    }
    
    function handleBriChange(val) {
        $.ajax({
          url: "/change_bright",
          type: "POST",
          dataType:'json',
          data: { 
            value: val,
            authenticity_token: $csrfToken
          },
          success:function(data){
             console.log("win")
          },
          error:function(data){
              console.log("lose")
          }
        });
    }
    
    function handleColorChange(val) {
        $.ajax({
          url: "/change_color",
          type: "POST",
          dataType:'json',
          data: { 
            value: val,
            authenticity_token: $csrfToken
          },
          success:function(data){
             console.log("win")
          },
          error:function(data){
              console.log("lose")
          }
        });
    }
    
    function switchOnLights() {
        $.ajax({
          url: "/switch_on",
          type: "POST",
          dataType:'json',
          data: { 
            on: true,
            authenticity_token: $csrfToken
          },
          success:function(data){
             console.log("win")
          },
          error:function(data){
              console.log("lose")
          }
        });
    }
    
    function switchOffLights() {
        $.ajax({
          url: "/switch_off",
          type: "POST",
          dataType:'json',
          data: { 
            on: true,
            authenticity_token: $csrfToken
          },
          success:function(data){
              console.log("win")
          },
          error:function(data){
              console.log("lose")
          }
        });
    }
    
    function handleTimeSelection(id) {
        $(".form-ns__btn").removeClass("active");
        $("#"+id).addClass("active");
    }
</script>