<div class="container">
    <div style="margin: 120px auto 0; width: 360px;">
        <a class="form-ns__btn" href="https://api.meethue.com/oauth2/auth?clientid=<%= @hue_token %>&appid=codaxe_home_lights&deviceid=test_id&devicename=test_device&state=jfS46vV43GDdfh443DFW&response_type=code">INSTALL CODAXE APP</a>
    </div>
</div>