.form-ns {
    width: 500px;
    margin: 100px auto 0;
    box-sizing: border-box;
    
    &__input {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 200;
        font-size: 24px;
        padding: 12px 16px;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid transparent;
        width: 100%;
        display: block;
        transition: all .3s;
        
        &:focus {
            outline: none;
            border-bottom: 2px solid white;
        }
        
        &::-webkit-input-placeholder {
            color: white;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 200;
        }
    }
    
    &__text {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 200;
        font-size: 24px;
        padding: 12px 16px;
        display: block;    
    }
    
    &__label {
        // font-size: 1.2rem;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 200;
        margin-left: 16px;
        margin-top: 10px;
        display: block;
        transform: translateY(-80px);
        transition: all .3s;
    }
    
    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-48px);
    }
    
    &__btn {
        width: 100%;
        border: 2px solid white;
        padding: 16px;
        text-align: center;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 200;
        cursor: pointer;
        font-size: 24px;
        transition: all .3s;
        outline: none;
        display: block;
        text-decoration: none;
        background-color: black;
        color: white;
        
        &:hover,
        &.active {
            background-color: white;
            color: black;
        }
    }
    
    &__switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }
    
    /* Hide default HTML checkbox */
    &__switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    /* The slider */
    &__slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    &__slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: black;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    &__checkbox:checked + &__slider {
      background-color: #2196F3;
    }
    
    &__checkbox:focus + &__slider {
      box-shadow: 0 0 1px #2196F3;
    }
    
    &__checkbox:checked + &__slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
    
    /* Rounded sliders */
    &__slider.round {
      border-radius: 34px;
    }
    
    &__slider.round:before {
      border-radius: 50%;
    }
}

@media (max-width: 500px) {
    .form-ns {
        width: 90%;
        margin: 0 auto;
    }
}
